# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Ambientes Virtuais (Virtual environments)
venv/
env/
.env/
.venv/

# Pytest e Coverage
.pytest_cache/
.coverage
htmlcov/

# Arquivos do SO
.DS_Store
Thumbs.db

# IDEs (VSCode, PyCharm, etc)
.vscode/
.idea/
.opencode/
temp/
